:root {
  --main-white: #f2f2f2;
  --main-red: red;
  --main-gray: #333;
  --main-dark: #1d1d1d;
}

/***************/
/* Base Styles */
/***************/
* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
  background-color: var(--main-white);
}

body {
  font-family: Courier, monospace;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-gray);
}

h1, h2 {
  font-family: Courier, monospace;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  padding-top: 30px;
  font-size: 4.2rem;
}

#notice-board-heading {
  text-align: left;
  padding-left: 5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: underline;
  color: var(--main-gray);
}

img {
  display: block;
  width: 100%;
}

/***************/
/* Nav Styles  */
/***************/
header {
  width: 100%;
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-white);
}

nav ul {
  width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}

nav ul li {
  background-color: var(--main-white);
}

nav ul li * {
  padding: 10px;
  /* margin: auto 0; */
}

nav ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--main-gray);
  font-family: inherit;
  font-size: inherit;
}

nav ul li a:hover, nav ul li button:hover {
  background: var(--main-gray);
  color: var(--main-white);
}

main {
  margin-top: 75px;
  padding: 0 50px;
}

#about img {
  width: 75%;
  margin: auto;
}

footer {
  margin-top: 25px;
  padding: 0 50px 50px;
  text-align: center;
}

footer .social-icons {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  header {
    position: absolute;
    top: 0;
    flex-wrap: wrap;
  }
  nav {
    margin-top: 10px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2rem;
  }
  nav li {
    padding-bottom: 5px;
  }
  nav ul {
    flex-direction: column;
  }
  main {
    margin-top: 145px;
  }
  #about img {
    width: 95%;
    margin: auto;
  }
  footer {
    font-size: 1.9rem;
  }
}

/***************/
/* Dark Styles */
/***************/
.dark-mode {
  background-color: var(--main-dark);
  color: var(--main-white);
}

.dark-mode a {
  color: var(--main-white);
}

.dark-mode body {
  background-color: var(--main-dark);
  color: var(--main-white);
}

.dark-mode header {
  background-color: var(--main-dark);
  color: var(--main-white);
}

.dark-mode header * {
  background-color: var(--main-dark);
  color: var(--main-white);
}